*{
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    background-color: white;
}
.canvas{
    width: 1060px;
    height: 1325px;
    margin-right: 0px;
}
.background{
    width: 1080px;
    height: 1920px;
}
.backg{
    width: 1080px;
    height: 1345px;
    border: solid rgb(122, 121, 121) 10px;
}
.score{
    display: flex;
    font-size: 100px;
    flex-direction: row;
    font-weight: bold;
    margin-top: 20px;
    width: 1080px;
    height: 150px;
}
.core{
    width: 300px;
    height: 150px;
    display: flex;
}
.button{
    display: flex;
    width: 1080px;
    height: 300px;
    font-weight: bold;
    margin-top:0px;
    margin-bottom:20px;    
}
#button-left{
    width: 500px;
    height:200px; 
    background-color:greenyellow;
    margin-right: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 100px;
}
#button-right{
    width: 500px;
    height:200px; 
    background-color:greenyellow;
    margin-left: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 100px;
}


