*{
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    background-color: white;
}
.canvas{
    width: 340px;
    height: 510px;
    margin-left: 0px;
}
.background{
    width: 360px;
    height: 780px;
}
.backg{
    width: 360px;
    height: 530px;
    border: solid rgb(122, 121, 121) 10px;
}
.score{
    display: flex;
    font-size: 40px;
    flex-direction: row;
    font-weight: bold;
    margin-top: 20px;
    width: 360px;
    height: 50px;
}
.core{
    width: 300px;
    height: 50px;
    display: flex;
}
.button{
    display: flex;
    width: 360px;
    height: 300px;
    font-weight: bold;
    margin-top:0px;
    margin-bottom:20px; 
     
}
#button-left{
    width: 150px;
    height:100px; 
    background-color:greenyellow;
    margin-right: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 50px;
    cursor: pointer; 
    transition-duration: 0.4s; 
}
#button-right{
    width: 150px;
    height:100px; 
    background-color:greenyellow;
    margin-left: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 50px;
    cursor: pointer; 
    transition-duration: 0.4s 
}


